/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  height: 500px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}
.map{
  height: 500px;
}
.data{
  width: 226px;
background: white;
box-shadow: 2px 1px 1px 0px #e3e3e3;
padding: 10px;
z-index: 99;
border-radius: 5px;
}
/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}
.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px
}
.bs-callout p:last-child {
    margin-bottom: 0
}
.bs-callout code {
    border-radius: 3px
}
.bs-callout+.bs-callout {
    margin-top: -5px
}
.bs-callout-danger {
    border-left-color: #d9534f
}
.bs-callout-danger h4 {
    color: #d9534f
}
.bs-callout-warning {
    border-left-color: #f0ad4e
}
.bs-callout-warning h4 {
    color: #f0ad4e
}
.bs-callout-info {
    border-left-color: #5bc0de
}
.bs-callout-info h4 {
    color: #5bc0de
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
    height: 50px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
