<div class="bs-callout bs-callout-info">
<h4>Your Recent Places (TimeZones)</h4>
<b ng-repeat="place in places">{{place}}<br></b>
<span class="text-warning" ng-show="noPlaces">You have no recent places.</span>
</div>
<div ng-show="showDetails" ng-style="detailsPosition" class="data">
  <b>longitude:</b>{{long}}<br>
  <b>latitude:</b>{{lat}}<br>
  <b>Time Zone:</b>{{timeZone}}<br>
  <b>UTC Time:</b>{{UTCTime}}<br>
  <b>Local Time:</b>{{localTime}}
</div>
<div id="map" ng-click="removeDetails()" class="jumbotron map">

</div>